.toolbar {
  display: flex;
  gap: var(--spacing-4);
  padding: 0 0 var(--spacing-5);
  flex-wrap: wrap;
  align-items: center;

  mat-form-field {
    min-width: 240px;
    flex: 1 1 auto;
    max-width: 300px;
    margin-bottom: -1.25em; 
  }
}
